<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body { padding-top: 80px; } /* Margen para la barra fija */
    </style>
    <title>{% block title %}Sistema de Buses{% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    
    {% block extra_css %}{% endblock %} 
</head>




<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand fw-bold" href="{% url 'rutas:inicio' %}">
             Sistema de Buses
        </a>
        <div class="navbar-nav ms-auto">
            {% if user.is_authenticated %}
                <span class="navbar-text text-light me-3">
                    Hola, {{ user.cliente.nombre }}
                </span>
                <a class="nav-link" href="{% url 'tiquetes:mis_tiquetes' %}">Mis Tiquetes</a>
                <a class="nav-link text-danger" href="/usuarios/logout/">Cerrar sesión</a>
            {% else %}
                <a class="nav-link" href="/usuarios/login/">Iniciar sesión</a>
                <a class="nav-link" href="/usuarios/registro/">Registrarse</a>
            {% endif %}
        </div>
    </div>
</nav>

<!-- alertas -->
<div class="container mt-3">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    {% endfor %}
</div> <!-- desde la views se manda un mensaje y depende de cual esa este se muestra -->

<!-- aqui el contenido que cada subpagina va a tener y va a rellenar aqui manteniendo la barra de navegacion en todas sin repetir el codigo -->
<div class="container mt-4">
    {% block content %}
    {% endblock %}
</div>

<!-- Bootstrap JS se pone al final para que la pagina cargue mejor -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script> 
</body>
</html>